.App-grid {
  margin-top: 50px;
}

.App-textarea {
  resize: vertical;
  font-family: monospace;
  font-size: 14px;
}

.App-format {
  display: inline-block;
  width: 60%;
}

.App-format-label {
  margin-right: 10px;
}

.App-translate {
  margin-top: 170px;
}

.App-translate-button {
  margin-top: 20px;
}

.App-copy {
  display: none;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.App-copy.success {
  display: block;
}
